body {
    margin: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home {
    background-color: #483355;
    padding-bottom: 1cm;
    margin-left: -1cm;
    margin-right: -1cm;
    margin-top: -1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    width: 100%;
}

header {
    font-size: 30px;
    color: rgb(240, 234, 245);
    text-align: center;
    width: 100%;
}

/*Navigation bar container */

.topdiv {
    float: right;
    padding-right: 1cm;
}

/* Navigation Bar Buttons */

.topmenu {
    color: lightgray;
    background-color: #483355;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
}

.topmenu:hover {
    color: white;
    font-weight: bolder;
    background-color: #382742;
    text-decoration: underline;
}

#all-conversion-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cada calculadora estará dentro de un recuadro */
.b {
    border-top-style: solid;
    background-color: white;
    border-top-width: 20px;
    width: 600px;
    height: auto; /* Ajuste automático de altura */
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

/* Estilos de las diferentes secciones de calculadora */
.temperature {
    border-top-color: green;
}

.weight {
    border-top-color: coral;
}

.distance {
    border-top-color: cyan;
}

/* Figura centrada dentro de cada recuadro */
figure {
    margin: 0 auto;
    text-align: center;
}

img {
    width: 200px;
}

figcaption {
    color: black;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
}

/* Centrar el contenido dentro de cada calculadora */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Asegura que el artículo ocupe todo el ancho */
}

fieldset {
    text-align: center;
    padding: 20px;
}

button {
    font-size: 20px;
    border: transparent;
    border-radius: 40px;
    background-color: rgb(173, 218, 173);
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px; /* Añadir espacio superior para el botón */
}

button:hover {
    cursor: pointer;
}

/* Floating icon for the home button */

.iconbutton {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(225, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    left: 0;
}

.iconbutton img {
    width: 30px;
}

footer {
    background-color: rgb(240, 234, 245);
    margin-top: 20px;
    text-align: center;
}

aside {
    margin-top: 10px;
    text-align: center;
}
